<div id="page1" ng-controller="MainCtrl as loginCtrl">
    <div class="ui header" id="introHeader">
        <h1 id="introPage1">need a <strong>FAVOUR</strong>.</h1>

        <div class="ui big buttons">
            <a href="/#/register">
                <button class="ui button">SIGN UP</button>
            </a>
            <div class="or"></div>
            <button class="ui facebook button" id="SignInBtn" ng-click="loginCtrl.login()"><i class="fa fa-facebook">  Facebook login</i> </button>
        </div>

    </div>
</div>

<div id="page2">
    <div class="ui container">
        <h1 class="intro-page2">How <strong>FAVOUR</strong> Works</h1>
        <div class="ui grid">
            <div class="four column row">
                <div class="column" id="about">
                    <i class="fa fa-question-circle fa-5x" id="iconQuest"></i>
                    <h3 class="headerTitle">What is <strong>FAVOUR</strong></h3>
                    <p>The service could be anything!</p>
                </div>
                <div class="column" id="hand">
                    <i class="fa fa-hand-paper-o fa-5x" id="iconHand"></i>
                    <h3 class="headerTitle">NEED A HAND?</h3>
                    <p>Find someone that is available and is capable doing it.</p>
                </div>
                <div class="column" id="users">
                    <i class="fa fa-users fa-5x" id="iconUsers"></i>
                    <h3 class="headerTitle">CONTACT</h3>
                    <p class="headerTitle">Contact the helper or the person in need to set an agreement. After the agreement  both parties can agree on a method of payment. </p>
                </div>
                <div class="column" id="comments">
                    <i class="fa fa-comment-o fa-5x" id="iconComments"></i>
                    <h3 class="headerTitle">FEEDBACK MATTERS</h3>
                    <p>Once the favor has been completed both parties can leave a review about how they liked/disliked the service.</p>
                </div>
            </div>
        </div>

    </div>
</div>

<div id="page3">
    <h3 class="locationHeader">let's do everyone a FAVOUR</h3>
</div>