<!-- NAVIGATION -->
<nav-bar></nav-bar>


<!-- MAIN CONTENT -->
<div class ="fakebackground" ng-controller="MainCtrl as mainCtrl">
    <div class="ui container" id="container">
        <div class="ui grid">

            <div class="four wide column">
                <div class="profile side">
                    <div class="profile">
                        <div class="user-profile">
                            <div class="ui card">
                                <div class="image">
                                    <img ng-src="{{mainCtrl.currUser.image}}">
                                </div>
                                <div class="content">
                                    <a class="header">{{mainCtrl.currUser.name}}</a>
                                </div>
                                <div class="extra content">
                                    <div class="ui three mini statistics" id="statistics">
                                        <div class="statistic">
                                            <div class="label">FAVORS</div>
                                            <div class="value">{{mainCtrl.favors.length}}</div>
                                        </div>
                                        <div class="statistic">
                                            <div class="label">FOLLOW</div>
                                            <div class="value">324</div>
                                        </div>
                                        <div class="statistic">
                                            <div class="label">FOLLOWERS</div>
                                            <div class="value">22</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="ui card">
                        <div class="content">
                            <div id="pencilIcon" style="font-size: 20px" ng-click="mainCtrl.postModal()">
                                <i class="write icon"></i> Post a favour
                            </div>
                        </div>
                    </div>


                    <div class="ui modal" id="favorQuest">
                        <div class="header">Whats the favour?!</div>
                        <div class="content">
                            <form class="ui form">
                                <div class="field">
                                    <label>Title</label>
                                    <input type="text" ng-model="previewFavor" required>
                                </div>
                                <div class="field">
                                    <label>Favor</label>
                                    <textarea ng-model="previewText" required></textarea>
                                </div>
                            </form>
                        </div>
                        <div class="actions">
                            <div class="ui button">Preview</div>
                        </div>
                    </div>

                    <div class="ui small basic modal" id="preview">
                        <div class="header">Preview</div>
                        <div class="content">
                            <div class="ui center card" id="previewModal">
                                <div class="content">
                                    <img class="ui avatar image" ng-src="{{mainCtrl.currUser.image}}"> <a href="">{{mainCtrl.currUser.name}}</a>
                                    <div class="right floated meta">14h</div>
                                </div>
                                <div class="content">
                                    <div class="header">{{previewFavor}}</div>
                                    <div class="description">
                                        <p>{{previewText}}</p>
                                    </div>
                                </div>
                                <div class="extra content">
                                    <div class="actions">
                                    <span class="left floated like">
                                    <i class="mail outline icon"></i>
                                    <div class="ui rating" data-max-rating="1">
                                        <i class="empty star icon"></i>
                                    </div>
                                </span>
                                <span class="right floated star">
                                    <div class="ui right pointing dropdown">
                                        <i class="edit icon"></i>
                                        <div class="menu">
                                            <div class="item">
                                                <i class="remove icon"></i>
                                                Delete
                                            </div>
                                            <div class="item">
                                                <i class="edit icon"></i>
                                                Edit
                                            </div>
                                            <div class="item">
                                                <i class="hide icon"></i>
                                                Hide
                                            </div>
                                        </div>
                                    </div>
                                </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="actions">
                            <div class="ui negative button"><i class="fa fa-times"> Cancel</i></div>
                            <div class="ui positive button" ng-click="mainCtrl.addFavor(previewFavor, previewText)"><i class="fa fa-check"> Post</i></div>
                        </div>
                    </div>

                    <div class="ui card">
                        <div class="content">
                            <h3 class="friends-header">Friends</h3>
                            <div class="friend-list" ng-repeat="friend in mainCtrl.users">
                                <div class="ui middle aligned selection list">
                                    <div class="item" ui-sref="profile({userId:friend.$id})">
                                        <img class="ui avatar image" ng-src="{{friend.image}}">
                                        <div class="content">
                                            <div class="header">{{friend.name}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="seven wide column">

                <label>Show me</label>
                <div class="ui inline dropdown" tabindex="0" style="color: orange" ng-click="mainCtrl.dropDownFilter()">
                    <div class="text">today</div>
                    <i class="dropdown icon"></i>
                    <div class="menu" tabindex="-1" ">
                        <div class="item active" data-text="all the favours" ng-click="myFavor={}">Favour</div>
                        <div class="item" data-text="my favours" ng-click="myFavor={name: mainCtrl.currUser.name}">My Favour</div>
                        <div class="item" data-text="my favorite favours" ng-click="myFavorites={favorites: mainCtrl.currUser.favorites}">Favorite Favour</div>
                        <div class="item" data-text="top favours">Top Favour</div>
                    </div>
                </div>
                <div class="newsFeed" ng-repeat="favor in mainCtrl.favors | filter:myFavor | orderBy:'-date'"> 
                <div class="ui centered card" id="newCard">
                    <div class="content">
                        <img class="ui avatar image" ng-src="{{favor.image}}"> <a ui-sref="profile({userId:favor.$id})">{{favor.name}}</a>
                        <div class="right floated meta">{{favor.date|date:'short'}}</div>
                    </div>
                    <div class="content">
                        <div class="header">{{favor.favorTitle}}</div>
                        <div class="meta">
                            <span class="category">{{favor.favor}}</span>
                        </div>
                        <div class="description">
                            <p>{{favor.favorContent}}</p>
                        </div>
                    </div>
                    <div class="extra content">
                        <div class="actions">
                                <span class="left floated like">
                                    <i class="mail outline icon" id="messageFavour"></i>
                                    <div class="ui rating" data-max-rating="1" ng-hide="favor.isStar">
                                        <i class="star icon"ng-class = "{active:favor.favorited}" id="favoriteFavour" ng-click="mainCtrl.addFavoriteFvr(favor)"></i>
                                    </div>
                                </span>
                                <span class="right floated">
                                    <div class="ui right pointing dropdown" ng-if="mainCtrl.currUser.uid == favor.uid" ng-click="mainCtrl.dropDownEdit()">
                                        <i class="edit icon"></i>
                                        <div class="menu">
                                            <div class="item" id="deleteFavour"  ng-click="mainCtrl.favors.$remove(favor)">
                                                <i class="remove icon"></i>
                                                Delete
                                            </div>
                                            <div class="item">
                                                <i class="edit icon" id="editFavour"></i>
                                                Edit
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item" ng-if="mainCtrl.currUser.uid !== favor.uid">
                                        <i class="hide icon"></i>

                                    </div>

                                </span>
                        </div>
                    </div>
                    <div class="ui modal" id="comment">
                        <div class="header">Message</div>
                        <div class="content">
                            <form class="ui form">
                                <div class="field">
                                    <label>Title</label>
                                    <input type="text" ng-model="previewFavor" required>
                                </div>
                                <div class="field">
                                    <label>Favor</label>
                                    <textarea ng-model="previewText" required></textarea>
                                </div>
                            </form>
                        </div>
                        <div class="actions">
                            <div class="ui button">Preview</div>
                        </div>
                    </div>
                </div>
            </div> 
            </div>

            <div class="five wide column">
                <div class="follow">
                    <div class="ui card">
                        <div class="content">
                            <div class="header">Who to favour</div>
                            <div class="ui middle aligned divided list" ng-repeat="follow in mainCtrl.users">
                                <div class="item">
                                    <div class="right floated content">
                                        <div class="ui tiny button" style="background-color: #F6F6F6; color: black" >
                                            <i class="add user icon" style="color: orange"></i>Follow
                                        </div>
                                    </div>
                                    <img class="ui avatar image" ng-src="{{follow.image}}">
                                    <div class="content">
                                        <div class="content">
                                            <a ui-sref="profile({userId:follow.$id})">{{follow.name}}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="about">
                    <about></about>
                </div>
            </div>

        </div>
    </div>
</div>