<!-- NAVIGATION -->
<nav-bar></nav-bar>


<!-- MAIN CONTENT -->
<div class ="fakebackground" ng-controller="MainCtrl as mainCtrl">
<div class="ui container" id="container">
        <div class="ui grid">
            <div class="four wide column">
                <div class="profile side">
                    <div class="profile">
                        <div class="user-profile">
                            <div class="ui card">
                                <div class="image">
                                    <img ng-src="{{mainCtrl.user.image}}">
                                </div>
                                <div class="content">
                                    <a class="header">{{mainCtrl.user.name}}</a>
                                    <div class="meta">
                                        <span class="date">Joined in 2013</span>
                                    </div>
                                    <div class="description">
                                        love to help others
                                    </div>
                                </div>
                                <div class="extra content">
                                    <div class="ui three mini statistics" id="statistics">
                                        <div class="statistic">
                                            <div class="label">FAVORS</div>
                                            <div class="value">{{mainCtrl.favors.length}}</div>
                                        </div>
                                        <div class="statistic">
                                            <div class="label">FOLLOW</div>
                                            <div class="value">324</div>
                                        </div>
                                        <div class="statistic">
                                            <div class="label">FOLLOWERS</div>
                                            <div class="value">22</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--<img class="ui small rounded image" ng-src="{{mainCtrl.users.image}}">-->
                            <!--<h3>{{mainCtrl.users.name}}</h3>-->
                            <!--<div class="ui three mini statistics" id="statistics">-->
                                <!--<div class="statistic">-->
                                    <!--<div class="label">FAVORS</div>-->
                                    <!--<div class="value">{{mainCtrl.favors.length}}</div>-->
                                <!--</div>-->
                                <!--<div class="statistic">-->
                                    <!--<div class="label">FOLLOW</div>-->
                                    <!--<div class="value">324</div>-->
                                <!--</div>-->
                                <!--<div class="statistic">-->
                                    <!--<div class="label">FOLLOWERS</div>-->
                                    <!--<div class="value">22</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        </div>
                    </div>

                    <div class="ui card">
                        <div class="content">
                            <div class="ui list">
                                <div class="favor" id="pencilIcon" style="font-size: 20px"><i class="write icon"></i> Post a favour</div>
                                <div class="message" id="messageIcon" style="font-size: 20px"><i class="mail outline icon"></i>  Messages</div>
                            </div>
                        </div>
                    </div>


                    <div class="ui modal" id="favorQuest">
                        <div class="header">Whats the favour?!</div>
                        <div class="content">
                            <form class="ui form">
                                <div class="field">
                                    <label>Title</label>
                                    <input type="text" ng-model="previewFavor" required>
                                </div>
                                <div class="field">
                                    <label>Favor</label>
                                    <textarea ng-model="previewText" required></textarea>
                                </div>
                            </form>
                        </div>
                        <div class="actions">
                            <div class="ui button">Preview</div>
                        </div>
                    </div>

                    <div class="ui small basic modal" id="preview">
                        <div class="header">Preview</div>
                        <div class="content">
                            <div class="ui center card" id="previewModal">
                                <div class="content">
                                    <img class="ui avatar image" ng-src="{{mainCtrl.users.image}}"> <a href="/#/profile">{{mainCtrl.users.name}}</a>
                                    <div class="right floated meta">14h</div>
                                </div>
                                <div class="content">
                                    <div class="header">{{previewFavor}}</div>
                                    <div class="description">
                                        <p>{{previewText}}</p>
                                    </div>
                                </div>
                                <div class="extra content">
                                    <div class="ui large transparent left icon input">
                                        <div class="ui button"><i class="fa fa-comments-o"></i></div>
                                    </div>
                                    <i class="right floated star icon"></i>
                                </div>
                            </div>
                        </div>
                        <div class="actions">
                            <div class="ui negative button"><i class="fa fa-times"> Cancel</i></div>
                            <div class="ui positive button" ng-click="mainCtrl.addFavor(previewFavor, previewText)"><i class="fa fa-check"> Post</i></div>
                        </div>
                    </div>

                    <div class="ui card">
                        <div class="content">
                            <h3 class="friends-header">Friends</h3>
                            <div class="friend-list" ng-repeat="friend in mainCtrl.favors">
                                <div class="ui middle aligned selection list">
                                    <div class="item">
                                        <img class="ui avatar image" ng-src="{{friend.image}}">
                                        <div class="content">
                                            <div class="header">{{friend.name}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="eight wide column">
                <label>Show me</label>
                <div class="ui inline dropdown" tabindex="0" style="color: orange">
                    <div class="text">today</div>
                    <i class="dropdown icon"></i>
                    <div class="menu" tabindex="-1">
                        <div class="item active" data-text="all the favours" ng-click="myFavor={}">Favour</div>
                        <div class="item" data-text="my favours" ng-click="myFavor={name: mainCtrl.users.name}">My Favour</div>
                        <div class="item" data-text="my favorite favours">Favorite Favour</div>
                        <div class="item" data-text="top favours">Top Favour</div>
                    </div>
                </div>

                <!--<div class="ui tabular menu">-->
                    <!--<a class="active item" ng-click="myFavor={}">Favours</a>-->
                    <!--<a class="item" ng-click="myFavor={name: mainCtrl.currentUser}">My favours</a>-->
                    <!--<a class="item">Favorite Favors</a>-->
                    <!--<a class="item">Top Favors</a>-->
                <!--</div>-->

                <div class="newsFeed"> 
                    <div class="ui centered card" id="newCard" ng-repeat="favor in mainCtrl.favors | filter:myFavor | orderBy:'-date'">
                        <div class="content">
                            <img class="ui avatar image" ng-src="{{favor.image}}"> <a href="/#/profile">{{favor.name}}</a>
                            <div class="right floated meta">{{favor.date|date:'short'}}</div>
                        </div>
                        <div class="content">
                            <div class="header">{{favor.favorTitle}}</div>
                            <div class="meta">
                                <span class="category">{{favor.favor}}</span>
                            </div>
                            <div class="description">
                                <p>{{favor.favorContent}}</p>
                            </div>
                        </div>
                        <div class="extra content">
                            <div class="actions">
                                <i class="reply icon"></i>
                                <i class="empty star icon"></i>
                                <i class="edit icon"></i>
                            </div>
                        </div>
                        <div class="ui modal" id="comment">
                            <div class="header">Message</div>
                            <div class="content">
                                <form class="ui form">
                                    <div class="field">
                                        <label>Title</label>
                                        <input type="text" ng-model="previewFavor" required>
                                    </div>
                                    <div class="field">
                                        <label>Favor</label>
                                        <textarea ng-model="previewText" required></textarea>
                                    </div>
                                </form>
                            </div>
                            <div class="actions">
                                <div class="ui button">Preview</div>
                            </div>
                        </div>
                    </div>



                </div> 


            </div>

            <div class="four wide column">
                <div class="follow">
                    <div class="ui card">
                        <div class="content">
                            <div class="header">Who to favour</div>
                            <div class="ui selection list" ng-repeat="follow in mainCtrl.users">
                                <div class="item">
                                    <div class="content">
                                        <div class="header">
                                            <img ng-src="{{follow.image}}" class="ui avatar image">
                                            {{follow.name}}
                                        </div>
                                        <div class="description">
                                            Short Description
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="about">
                    <div class="ui card">
                        <div class="content">
                            <i class="fa fa-copyright"> 2015 Favour</i>
                            <div class="ui accordion">
                                <div class="active title">
                                    <i class="dropdown icon"></i>
                                    What is favour?
                                </div>
                                <div class="active content">
                                    <p>an act of kindness beyond what is due or usual.</p>
                                </div>
                                <div class="title">
                                    <i class="dropdown icon"></i>
                                    What kinds of favour are there?
                                </div>
                                <div class="content">
                                    <p>The favour could be any kind of services!</p>
                                </div>
                                <div class="title">
                                    <i class="dropdown icon"></i>
                                    How do you acquire a favour?
                                </div>
                                <div class="content">
                                    <p>It's simple! just go to your home page and ask!</p>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>