<!-- NAVIGATION -->
<nav-bar></nav-bar>

<!-- MAIN CONTENT -->
<div class="fakebackground">
    <div class="ui container" id="profileContainer">
        <div class="profile" ng-controller="MainCtrl as mainCtrl">
            <div class="userInfo">
                <div class="ui grid">
                    <div class="two wide column">
                        <img class="ui top aligned small rounded image" ng-src="{{mainCtrl.users.pic}}">
                    </div>
                    <div class="thirteen wide column">
                        <h3>{{mainCtrl.users.name}}</h3>

                    </div>
                    <div class="one wide column">

                    </div>
                </div>
            </div>

            <div class="ui three column grid">
                <div class="column">
                    <h3>Feedback ratings</h3>
                    <div class="ui list">
                        <div class="item">
                            <div class="ui star rating" data-rating="3"></div>
                            <label>Communication</label>
                        </div>
                        <div class="item">
                            <div class="ui star rating" data-rating="3"></div>
                            <label>Communication</label>
                        </div>
                        <div class="item">
                            <div class="ui star rating" data-rating="3"></div>
                            <label>Communication</label>
                        </div>
                    </div>

                </div>
                <div class="column" id="moods">
                    <div class="ui horizontal list">
                        <div class="item">
                            <i class="fa fa-plus-circle fa-lg"> 23</i><br>
                            <label>Positive</label>
                        </div>
                        <div class="item">
                            <i class="fa fa-stop-circle fa-lg"> 23</i><br>
                            <label>Neutral</label>
                        </div>
                        <div class="item">
                            <i class="fa fa-minus-circle fa-lg"> 2</i><br>
                            <label>Negative</label>
                        </div>
                    </div>


                </div>
                <div class="column">
                    <h3>feedback</h3>
                </div>
            </div>
        </div>
    </div>
</div>
