<div class="ui card">
    <div class="content">
        <i class="fa fa-copyright"> 2015 Favour</i>
        <div class="ui accordion">
            <div class="active title">
                <i class="dropdown icon"></i>
                What is favour?
            </div>
            <div class="active content">
                <p>an act of kindness beyond what is due or usual.</p>
            </div>
            <div class="title">
                <i class="dropdown icon"></i>
                What kinds of favour are there?
            </div>
            <div class="content">
                <p>The favour could be any kind of services!</p>
            </div>
            <div class="title">
                <i class="dropdown icon"></i>
                How do you acquire a favour?
            </div>
            <div class="content">
                <p>It's simple! just go to your home page and ask!</p>
            </div>
        </div>
    </div>

</div>