<div class="ui fixed stackable secondary menu" id="navMenu">
    <a class="item" href="/#/main"><i class="fa fa-home fa-lg" id="homeIcon"> Home</i></a>
    <a class="item" href="/#/profile"><i class="fa fa-user fa-lg" id="profileIcon"> Profile</i></a>
    <a class="item" href="/#/message"><i class="fa fa-comments-o fa-lg" id="navMessageIcon"> Messages</i></a>
    <div class="right menu">
        <a class="item" ng-click="nav.logout()"><i class="fa fa-sign-out fa-lg" id="logoutIcon"> Logout</i></a>
    </div>
</div>