#page1 {
    background: url("https://images.unsplash.com/photo-1417551047620-471daaad5a65?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=e778f279618432c687b18697b11a398f") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 700px;
    margin-bottom: 50px;
}
#introHeader {
    text-align: center;
    padding-top: 250px;
}
#introPage1{
    font-size: 100px;
    color: white;
}
#page2 {
    background-color: white;
    height: 400px;
}
#iconQuest, #iconHand, #iconUsers, #iconComments {
    color: orange;
}
.ui.button{
    background-color: orange;
    color: white;
}
.ui.button:hover{
    background-color: orange;
    color: white;
}
.ui.buttons .or:before {
    color: orange;
}
.intro-page2 {
    text-align: center;
    margin-bottom: 75px;
}
strong {
    color: orange;
}
#about, #hand, #users, #comments {
    text-align: center;
}
.headerTitle {
    text-align: center;
    margin-bottom: 20px;
}
#page3 {
    background: url("https://images.unsplash.com/photo-1437590552276-2e17e82b7b48?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=bc08a323245690c2f5a02c06ac20a812") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 600px;
    text-align: center;
    padding-top: 100px;
}
.locationHeader {
    color: white;
    text-align: center;
    padding-top: 100px;
    font-size: 60px;
}

/* mainView css */


#navMenu {
    background-color: white;
    padding: 10px;
}
#navMenu .item.active {
    border-bottom: 3px solid orange;
    background-color: transparent;
}
#homeIcon, #profileIcon, #navMessageIcon, #logoutIcon, #pencilIcon, #messageIcon {
    color: orange;
}
#container {
    margin-top: 80px;
}
#newCard {
    width: 100%;
}
#statistics .statistic>.label{
    text-align: left;
    font-weight: normal;
    font-size: 10px;
}
#statistics .statistic>.value {
    text-align: left;
    font-weight: normal;
    font-size: 14px;
}
#statistics .statistic {
    min-width: 30%;
}
.fakebackground {
    background-color: #F6F6F6;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}
#previewModal {
    width: 100%;
    height: 50%;
}
#newsCommentIcon {
    margin-right: 10px;
}
#postingCard {
    width: 100%;
}

/* profileView css */
#profileContainer {
    margin-top: 100px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}
#stats {
    font-size: 20px;
}

#moods .items{
    width: 33%;
}
#reviewColumn {
    text-align: center;
}

/* register css */
#registerContainer {
    margin-top: 40px;
}
.registerHeader {
    color: orange;
}
.headerRegister {
    padding-left: 100px;
    margin-bottom: 50px;
}
#registerForm {
    padding-left: 100px;
    padding-right: 300px;
}
#dividingHeader {
    color: orange;
}
#registerBtn {
    margin-top: 30px;
    text-align: center;
    background-color: orange;
    color: white;
    width: 100%;
}
.info {
    margin-top: 10px;
    margin-bottom: 50px;
    text-align: center;
}
.ui.accordion .title:not(.ui) {
    color: orange;
}
#favoriteFavour.empty.star.icon {
    color: orange;
}

#deleteFavour {
    color: red;
}


