<!-- NAVIGATION -->
<nav-bar></nav-bar>

<!-- MAIN CONTENT -->
<div class ="fakebackground">
    <div class="ui container" id="container">
        <div class="ui grid">
            <div class="four wide column">
                <div class="profile side">
                    <profile curr-user="profile.user"></profile>
                    <div class="ui card">
                        <div class="content">
                            <review-modal></review-modal> 
                            <div id="addUser" style="font-size: 20px;" ng-click="review.addReview()"> 
                                <i class="add user icon"></i> Follow 
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="eight wide column" ng-controller="MainController as main">
                <div class="newsFeed" ng-repeat="favor in main.favors | filter:myFavor | filter: profile.user.name | orderBy:'-date'"> 
                    <favour favours="favor" curr-user="profile.currUser"></favour>
                </div> 
            </div>

            <div class="four wide column">
                <div class="ui card">
                    <div class="content">
                        <div class="header">
                            Overall Favouree Rating 
                        </div>
                        <br>
                        <div class="item"> 
                            <div class="ui huge star rating" data-rating="3" data-max-rating="5"></div> 
                            <span style="font-size: 20px">Service </span>
                        </div> 
                    </div>
                </div>

                <div class="about">
                    <about></about>
                </div>
            </div>

        </div>
    </div>
</div>