<!-- NAVIGATION -->
<nav-bar></nav-bar>

<div class="ui container">
    <div class="ui basic segment">
        <img class="ui centered small circular image" ng-src="{{profile.user.image}}">
        <h1 class="ui center aligned header">
            {{profile.user.name}}
        </h1>
    </div>
    <div class="ui basic segment" ng-controller="MainController as main">
        <div class="newsFeed" ng-repeat="favor in main.favors | filter:myFavor | filter: profile.user.name | orderBy:'-date'"> 
            <favour favours="favor" curr-user="profile.currUser"></favour>
        </div> 
    </div>
</div>