<div id="pencilIcon" style="font-size: 20px" ng-click="post.postModal()">
    <i class="write icon"></i> Post a favour
</div>

<div class="ui modal" id="favorQuest">
    <i class="close icon"></i>
    <div class="header">Whats the favour?!</div>
    <div class="content">
        <form class="ui form">
            <div class="field">
                <label>Title</label>
                <input type="text" ng-model="previewFavor">
            </div>
            <div class="field">
                <label>Favor</label>
                <textarea ng-model="previewText"></textarea>
            </div>
        </form>
    </div>
    <div class="actions">
        <div class="ui button">Preview</div>
    </div>
</div>
<div class="ui small basic modal" id="preview">
    <div class="header">Preview</div>
    <div class="content">
        <div class="ui center card" id="previewModal">
            <div class="content">
                <img class="ui avatar image" ng-src="{{post.currUser.image}}"> <a href="">{{post.currUser.name}}</a>
                <div class="right floated meta">14h</div>
            </div>
            <div class="content">
                <div class="header">{{previewFavor}}</div>
                <div class="description">
                    <p>{{previewText}}</p>
                </div>
            </div>
            <div class="extra content">
                <div class="actions">
                    <span class="left floated like">
                        <i class="mail outline icon"></i>
                        <div class="ui rating" data-max-rating="1">
                            <i class="empty star icon"></i>
                        </div>
                    </span>
                    <span class="right floated star">
                    <div class="ui right pointing dropdown">
                        <i class="edit icon"></i>
                        <div class="menu">
                            <div class="item">
                                <i class="remove icon"></i>
                                Delete
                            </div>
                            <div class="item">
                                <i class="edit icon"></i>
                                Edit
                            </div>
                            <div class="item">
                                <i class="hide icon"></i>
                                Hide
                            </div>
                        </div>
                    </div>
                </span>
                </div>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui negative button"><i class="fa fa-times"> Cancel</i></div>
        <div class="ui positive button" ng-click="post.addFavor(previewFavor, previewText)"><i class="fa fa-check"> Post</i></div>
    </div>
</div>