<!-- NAVIGATION -->
<nav-bar></nav-bar>


<!-- MAIN CONTENT -->
<div class ="fakebackground">
    <div class="ui container" id="container">
        <div class="ui cards" ng-repeat="pending in notify.pendings">
            <div class="card" ng-show="!showDiv">
                <div class="content" >
                    <img class="right floated mini ui image" ng-src="{{pending.image}}">
                    <div class="header">
                        <a href="profile({userId:pending.$id})">{{pending.name}}</a>
                    </div>
                    <div class="description">
                        {{pending.name}} wants to follow you!
                    </div>
                </div>
                <div class="extra content">
                    <div class="ui two buttons">
                        <div class="ui basic green button" ng-click="notify.approve(pending); showDiv=true">Approve</div>
                        <div class="ui basic red button">Decline</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>